 /* view port reset */
 *{
    padding:0;
    margin:0;
    box-sizing: border-box;
 }
 /* b */

 .wrapper{
    background-color: black;
    height:100vh;
    display: flex;
    flex-direction: row;
    padding:10px;
    gap:10px;
 }
 .container-left{
    height:100%;
    width:50%;
    background-color: #525161;
    border-radius: 10px;
     
 }
 .container-right{
    height:100%;
    width:50%;
    background-color: white;
    border-radius: 10px;
 }
 .banner{
    height:50%;
    background-color: #d1d4ff;
    border-radius: 10px;
    /* background-image: url("../assets/smiling-girl.png");
    background-size: cover; 
   background-position: left; 
   background-repeat: no-repeat;  */
 }
 .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    height:20%;
 }
 .navbar button{
    height: 40px;
    width:120px;
    border-radius: 20px;
    border:1px solid black;
 }
 .photo-text{
    /* background-color: aquamarine; */
    height:80%;
    display: flex;
    flex-direction: row;
 }
 .photo{
   width:50%;
   height: 100%;
   background-image: url("../assets/smiling-girl.png");
   background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
 }
.collaborate {
    padding-top: 20px;
    justify-content: center;
}
.collaborate p{
    padding-left: 42px;
    font-size: 13px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    padding-right: 60px;
}
.button button{
    font-size: 10px;
    width: 60px;
    height:20px;
    border-radius: 20px;
    border: none;
    background-color: #ceff65;
    gap: 10px 10px;
}
.containers{
    display: flex;
    flex-direction: row;
    height: 25%;
    background-color: beige;
    gap: 10px;
    margin-top: 5px;
}
.face{

    height:100%;
    background-color: #ceff65;
    width:33.3%;
    border-radius: 20px;
    
}
.our-team{
  
    height:100%;
    background-color: #08e1ab;
    width:33.3%;
    border-radius: 20px;
}
.oliver{
    height:100%;
    background-color: #2c9b7f;
    width:33.3%;
    border-radius: 20px;
}