*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display:flex;
    flex-direction: row;
    background-color: black;
    height:100vh;
    gap: 10px;
    padding: 10px;
}

/* Containers-styling */
.container-left{
    display:flex;
    flex-direction: column;
    background-color: #525161;
    height:100%;
    width:100%;
    border-radius: 20px;
}
/* Left container children */
.logo{
   width:100%;
   height:10%;
   background-color: #525161;
   border-radius: inherit;
   padding:10px;
   font-size: 20px;
}
.bring-text{
    width:100%;
    height:50%;
    background-color: #525161;
    border-radius: inherit;
    padding:10px;
    color:white;
    
}
.bring-text h3{
font-size: 2.4em;
}
.bring-text p{
    margin-bottom: 10px;
}
.bring-text button{
    height:40px;
    width:90px;
    border-radius: 20px;
    border: none;
}
.photo-text{
    width:100%;
    height:40%;
    background-color: #525161;
    border-radius: inherit;
}
.photo-text{
    display:flex;
    gap:10px;
}
.photo{
    width:50%;
    height:100%;
    background-color: #525161;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Xpace{
   
    width:50%;
    height:100%;
    background-color: #a1a3b6;
    border-radius: inherit;
}
.photo-man{
    height:90%;
    width:70%;
    background-color: white;
    border-radius: 20px;
    background-image: url("../assets/man.png");
    background-position: center; 
    background-repeat: none;
    background-size: cover; 
    background-repeat: no-repeat; 
    position:relative;
}
.week5{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:-10%;
    top:70%;
    width:60%;
    height:22%;
    border-radius: 10px;
    background-color: black;
}
.nine-plus{
    text-align: center;
    position: absolute;
    left:40%;
    top:76%;
    height:10%;
    width:20%;
    border-radius: 20px;
    background-color: #ffffff;
}
/*  */

.container-right{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(74, 233, 0); */
    height:100%;
    width:100%;
    gap: 10px;
    border-radius: 20px;

}



/* RightContainer Children */
.hero{
    height:50%;
    width:100%;
    background-color: #d1d4ff;
    border-radius: inherit;
    position: relative;
    /* background-image: url("../assets/Eve.png"); */
}
.body{
    display: flex;
    flex-direction: row;
    position: relative;
    height:25%;
    width:100%;
    /* background-color: rgb(18, 225, 221); */
    gap:10px;
    border-radius: inherit;
}
.footer{
    display:flex;
    height:25%;
    width:100%;
    /* background-color: rgb(225, 18, 218); */
    border-radius: inherit;
    gap:10px;
}

/* body-container children */
.body-container1{
    height: 100%;
    width:33.33%;
    background-color: #ebebed;
    background-image: url('../assets/young-blonde-woman-with-yellow-sweater_273609-5541.jpg');
    border-radius: inherit;
    background-repeat: none;
    background-size: cover; 
    background-repeat: no-repeat; 
}
.body-container2{
    height: 100%;
    width:33.33%;
    background-color: #525161;
    border-radius: inherit;
    text-align: center;
    color:white;
    line-height: 1.9;
    position: relative;
}
.body-container2:after{
    content: '';
	position: absolute;
	left: 0;
	top: 70%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #525161;
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
}
.body-container3{
    background-color: #4e56d3;
    background-image: url('../assets/oliver.png');
    position: absolute;
    right:0;
    height:40vh;
    bottom:1%;
    width: 29.9%;
    border-radius: inherit;
    border: 10px solid black;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
/* Footer-container children */
.footer-container1{
    height:100%;
    width:60%;
    background-color: #b77449;
    border-radius: inherit;
    color: white;
}
.footer-container2{
    height:100%;
    width:40%;
    background-color: #7a6061;
    border-radius: inherit;
    background-image: url('../assets/orthodox1.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
}
/* Hero styling */
.Eve-cont{
    position:absolute;
    top:10%;
    left:5%;
    height: 90%;
    width:35%;
    background-color: #d1d4ff;
}
.navbar{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.navbar button{
    width:100px;
    height:30px;
    border-radius: 50px;
    border: 1px black solid;
}

.collaborate{
    position: absolute;
    left:40%;
    top:20%;
    width:50%;
    height:40%;
    border:dotted;
    text-align: center;
    
}
.collaborate p{
    font-size: 0.6rem;
}
.collaborate button{
    width:80px;
    height:25px;
    margin-top: 20px;
    background-color: greenyellow;
    border-radius: 50px;
    border: none;
}
.collaborate h2{
    font-size: 1.6rem;
}
/* body styling */
.oliver-text{
    color:white;
    padding: 5px 0px 0px 40px;
}
.body-container2 span{
  color:#b5754a;
}
.body-container2 h3{
    font-size: 1.5em;
}
#our-text{
    text-decoration: underline dotted #b5754a;
}

/* footer styling */
.join-text{
    font-size: 1.5em;
    margin: 5px 0px 0px 15px;
}
.join-learn{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap:80px;
}
.join-learn button{
    padding:5px;
    color:white;
    background-color: black;
    border: none;
    border-radius: 20px;
}
.socials-text{
    display: flex;
    margin-left: 10px;
    margin-top: 50px;
    color:white;
}
/* Media queries */
@media only screen and (max-width: 600px) {
    .wrapper {
      flex-direction: column-reverse;
    }
  }
  @media only screen and (max-width: 600px) {
    .body-container3 {
      height: 20vh;
    }
    .Eve-cont{
        height: 80%;
        top:20%;
    }
    .navbar button{
        width:50px;
        height:20px;
        font-size: 10px;
    }
    .collaborate h2{
        font-size:.9rem;
    }
    .collaborate button{
        margin-top: 5px;
    }
    .oliver-text{
        font-size: 7px;
     
    }
    .body-container2 h3,p{
        font-size: .8rem;
    }
    .join-text h3{
        font-size: .6em;
    }
    .join-learn p{
        font-size: 13px;
    }
  }